<div style="margin-top: 50px; margin-left: 100px">
  <form
    style="display: flex; justify-content: space-around"
    [formGroup]="starWarsForm"
    (ngSubmit)="onClickSave()"
  >
    <div formArrayName="hero">
      <div *ngFor="let hero of hero['controls']; let i = index">
        <div [formGroupName]="i">
          <textarea
            formControlName="description"
            rows="3"
            class="form-control"
            placeholder="Some info about you"
          ></textarea>
        </div>
      </div>
    </div>
  </form>
</div>
